body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #00bcd4, #bbdefb, #23A6D5, #1de9b6);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  font-family: 'Playfair Display', serif;
}

/*background animation*/
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/*end of background animation*/

/*login*/
.card{
  height: 750px;
  margin-top: 25px;
}

.card-stacked {
  display: inline-block;
}

.card .card-content {
  padding: 15px 25px !important;
}
.card-action {
padding: 5px 25px !important;
}

#password[type=password]:enabled {
  border-bottom: 1px solid black;;
  box-shadow: 0 1px 0 0 black;;
}

#password[type=password]:hover {
  border-bottom: 1px solid pink;;
  box-shadow: 0 1px 0 0 pink;;
}

#username[type=text]:enabled {
  border-bottom: 1px solid black;;
  box-shadow: 0 1px 0 0 black;;
}

#username[type=text]:hover {
  border-bottom: 1px solid pink;;
  box-shadow: 0 1px 0 0 pink;;
}

#input-username {
  margin: 0 auto;
  margin-top: 50px;
}

#nose-icon {
  margin: 0 auto;
  margin-top: 50px;
}


#input-password {
  margin: 0 auto;
  margin-top: 100px;
}

#login-button {
  margin: 0 auto;
  margin-top: 100px;
}

#login-container {
  margin-top: 25px;
}
/*end of login*/

/*register page*/
#register {
  width: 50%;
  margin: 0 auto;
  margin-top: 75px;
}

#register-page {
  z-index: 100;
}

#register-btn {
  margin: 0 auto;
}

.material-icons {
  color: #000000;
}

#nose-icon2 {
  margin: 0 auto;
  margin-top: 20px;
/* Settings Component */
}

.allergen {
  text-align: right;
}

/* Navbar CSS */
.brand-logo {
  margin-left: 10px;
  font-size: 200px;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 72px;
}

/* Footer CSS */
.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}