body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card{
  height: 750px;
}

.card-stacked {
  display: inline-block;
}

.card .card-content {
  padding: 15px 25px !important;
}
.card-action {
padding: 5px 25px !important;
}

#input-username {
  margin: 0 auto;
  margin-top: 150px;
}

#input-password {
  margin: 0 auto;
  margin-top: 100px;
}

#login-button {
  margin: 0 auto;
  margin-top: 100px;
}

#register {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}


#register-btn {
  margin: 0 auto;
}

.register-body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("http://www.freegreatpicture.com/files/59/26908-high-resolution-photo-flowers.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}


